@tailwind base;
@tailwind components;
@tailwind utilities;

.txt:hover{
  color: #F8B500;
}




.navt:hover{
  background-color: #F8B500;
  color: white;
}

.logo{
  width: auto;
  height: 4rem;
}
.zin{
  z-index: 9999999 !important;
}

.wpp{
  width: auto;
  height: 60px;
 
}

.ham:hover{
  background-color: #F8B500;
  color: white;
}

.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
  @apply text-[27px] text-black font-bold mt-5;
}

.hero__sub {
  @apply text-[18px] text-black mt-5;
}

